<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark box-shadow">
    <a class="my-0 mr-md-auto font-weight-normal text-white" routerLink="/">
      <h5 class="">
        <img src="./assets/logo.png" alt="Logo" style="width: 50px; height: 50px">
        <span class="ml-2">Gym App</span>
      </h5>
    </a>

    <nav class="my-2 my-md-0 mr-md-3">
      <div class="" *ngIf="isLoggedIn; else loggedOut">
        <a class="p-3 p-md-4 text-white" routerLink="client/list">Client list</a>
        <a class="p-3 p-md-4 text-white" routerLink="client/new">Register Client</a>
        <a class="p-3 p-md-4 text-white" routerLink="workout/new">Register Workout List</a>
        <a class="p-3 p-md-4 text-white" routerLink="workout/list">Check Workout List</a>
        <a class="text-white btn btn-sm btn-outline-primary" (click)="onLogout()">Logout</a>
      </div>
      <ng-template #loggedOut>
          <button ngbDropdownItem
                  class="btn btn-danger"
                  (click)="onSignIn()">
            <i class="fab fa-google mr-1"></i>
            Sign in with Google
          </button>
      </ng-template>
    </nav>
  </div>
</header>
<main class="section">
  <router-outlet></router-outlet>
</main>
